<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Score Manager</title>

    <link rel="stylesheet" href="{{url_for('static', filename='mainPage.css') }}">
</head>
<body>

    <div class="container">

        <h1>Student Score Manager</h1>

        <p>Manage student records and leaderboard efficiently.</p>

        <div class="buttons">
            <a href="/loginPage" class="btn login">Login</a>
            <a href="/registerPage" class="btn register">Register</a>
        </div>

    </div>

</body>
</html>